<%= link_to("<< Back to Subjects", subjects_path, :class => 'back-link ') %>
<h1>Pages</h1>

<%= link_to("Add new page", new_page_path(:subject_id => @subject.id), :class => 'action new' ) %>
<table>
	<tr>
		<td>#(position)</td>
		<td>ID</td>
		<td>Name</td>
		<td>Permalink</td>
		<td>Visible</td>
		<td>Sections</td>
		<td>Action</td>
	</tr>

	<% @pages.each do |page| %>
	<tr>
		<td><%= page.position %></td>
		<td><%= page.id %></td>
		<td><%= page.name %></td>
		<td><%= page.permalink %></td>
		<td><%= status_tag(page.visible) %></td>
		<td><%= page.sections.count %></td>
		<td>
			<%= link_to("View sections", sections_path(:page_id => page.id), :class => 'action show')%> |
			<%= link_to("Show", page_path(page,:subject_id => @subject.id), :class => 'action show')%> |
			<%= link_to("Edit", edit_page_path(page,:subject_id => @subject.id), :class => 'action edit')%> 

			<%= link_to("Delete", delete_page_path(page, :subject_id => @subject.id), :class => 'action delete')%>
		</td>
	</tr>
	<% end %>
</table>